<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trollpicks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Willkommen bei Trollpicks!</h1>
    </header>
    <main>
        <p>Deine Anwendung für optimale Picks in League of Legends!</p>
        <button id="actionButton">Klick mich</button>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>